# Assignment 1: Visualization Design

https://courses.cs.washington.edu/courses/cse512/24sp/a1.html

https://observablehq.com/@uwdata/hours-of-sunshine

In [1]:
import pandas as pd

In [3]:
pd.read_csv('sunshine.csv')

       city         lon        lat month  monthnum  sunshine
0   Chicago  -87.623177  41.881832   Jan         0       135
1   Chicago  -87.623177  41.881832   Feb         1       136
2   Chicago  -87.623177  41.881832   Mar         2       187
3   Chicago  -87.623177  41.881832   Apr         3       215
4   Chicago  -87.623177  41.881832   May         4       281
..      ...         ...        ...   ...       ...       ...
67  Seattle -122.335167  47.608013   Aug         7       281
68  Seattle -122.335167  47.608013   Sep         8       221
69  Seattle -122.335167  47.608013   Oct         9       142
70  Seattle -122.335167  47.608013   Nov        10        72
71  Seattle -122.335167  47.608013   Dec        11        52

[72 rows x 6 columns]